<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
        	<a class="navbar-link active" routerLink="/">About</a>
        </li>
        <li class="navbar-item">
        	<a class="navbar-link" routerLink="/resume">Resume</a>
        </li>
        <!-- <li class="navbar-item"><button class="navbar-link" data-nav-link>Portfolio</button></li>
        <li class="navbar-item"><button class="navbar-link" data-nav-link>Blog</button></li> -->
        <li class="navbar-item">
        	<a class="navbar-link" routerLink="/contact">Contact</a>
        </li>
    </ul>
</nav>